<section>
  <h3>Search for a song:</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="search-wrapper">
      <div class="input-wrapper">
        <h5>Song Name:</h5>
        <input
          title="Song Title"
          type="text"
          placeholder="title..."
          [(ngModel)]="title"
          name="title"
        />
      </div>
      <br />
      <div class="input-wrapper">
        <h5>Song Artist:</h5>
        <input
          title="Song Artist"
          type="text"
          placeholder="artist..."
          [(ngModel)]="artist"
          name="song"
        />
      </div>
      <button type="submit" title="Submit Song">Enter Song</button>
    </div>
  </form>
</section>
