/* 
Color palette:
Background: Blue horizon - #4b6584
Text: Flirtatious - #fed330
 */

body {
  background-color: #4b6584;
}

section {
  text-align: center; /* center component */
  color: #fed330;
}
