/* You can add global styles to this file, and also import other style files */

body {
  background-color: black;
}

section {
  text-align: center; /* center component */
  background-color: lightyellow;
}
